body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-bottom: 1em;
}

header label {
  margin-left: auto;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

header time {
  display: block;
  min-width: 80px;
}

header em {
  display: block;
  color: #666;
  font-style: italic;
}

#time-slider {
  width: 200px;
}

.legend {
  display: flex;
  gap: 1em;
  margin-block: 1em;
  align-items: center;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
}

.legend > div:first-child {
  font-weight: bold;
  padding: 0;
}

.legend > div:not(:first-child)::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

