html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 70vh;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map circle {
  pointer-events: auto;
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1;
}

.legend > div,
#map circle {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

.legend > div:not(:first-child)::before {
  background-color: var(--color);
}

#map circle {
  fill: var(--color);
}

